<br>
<app-dice></app-dice>
<div class="form-group">
  <label  class="form-label" for="fromLedger">From Ledger:</label>
  <select id="fromLedger" class="form-control" [(ngModel)]="id">
    <option *ngFor="let ledger of ledgers" [value]="ledger.id">{{ ledger.name }}</option>
  </select>
</div>

<br>

<div class="container">
    <button class="btn btn-success btn-lg p-2" (click)="roll3Dice()">Roll Dice</button>
</div>
<br>
<h4 class="text-warning">Result: {{result? result.correctNumbers : 0 }} </h4>
<h4 class="text-warning">Won: {{ result? result.winAmount : 0}}  </h4>
