<div>
    <h2>Ledgers</h2>
    <ul>
      <li *ngFor="let ledger of ledgers">
        <strong>{{ ledger.name }}</strong>: {{ ledger.balance | currency }}
        <button (click)="printMoney(ledger.id)">+100</button>
      </li>
    </ul>
  </div>
<div>
  <h2>Booking</h2>
  <label for="fromLedger">From Ledger:</label>
  <select id="fromLedger" [(ngModel)]="fromLedgerId">
    <option *ngFor="let ledger of ledgers" [value]="ledger.id">{{ ledger.name }}</option>
  </select>

  <label for="toLedger">To Ledger:</label>
  <select id="toLedger" [(ngModel)]="toLedgerId">
    <option *ngFor="let ledger of ledgers" [value]="ledger.id">{{ ledger.name }}</option>
  </select>
  <input type="number" [(ngModel)]="amount">
  <button (click)="makeTransfer()">transfer</button>
</div>
